* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  border: none;
}

window#waybar {
  background: rgba(26, 27, 38, 0.85);
  color: #d4d6d8;
  border-radius: 5px;
}

/* Workspaces */
#workspaces {
  background: rgba(26, 27, 38, 0.85);
  border-radius: 5px;
  padding: 1px;
  color: #c0caf5;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px;
  border-radius: 3px;
  color: #d4d6d8;
  background: transparent;
}

#workspaces button.active {
  background: #7aa2f7;
  color: #1a1b26;
}

/* Clock */
#clock,
#custom-power {
  background: transparent;
  color: #d4d6d8;
  font-size: 14px;
  padding: 0px 10px;
  border-radius: 2px;
  margin: 4px;
  margin-left: 10px;
}

/* Right modules */
#tray,
#custom-screenrecord.recording,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-bluetooth {
  padding: 6px 12px;
  margin: 0px 4px;
  border-radius: 5px;
  background: rgba(26, 27, 38, 0.85);
}

#pulseaudio:hover,
#cpu:hover,
#custom-screenrecord.recording:hover,
#custom-bluetooth:hover {
  background: #7aa2f7;
  color: #1a1b26;
}
